<!DOCTYPE HTML>
<html>
<head>
	<title>Provocare</title>
	<meta charset="UTF-8">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<header>
	<div class="structure_header">
		<div class="menu_header">
			<div class="vue_menu_header">
				<div class="menu_classique_header">
					<div class="jaune">
						
					</div>
					<p class="Nom"><span class="provocare">Provocare</span></br>
					<em>Générateur d'idées</em></p>
				</div>

			</div>

		</div>
	</div>
</header>
<body>
	<div class="structure">
		<div class="menu">
			<div class="vue_menu">
				<div class="menu_classique">
					<a href="Accueil.php"><div class = "rubrique_menu" id="selected">
						Accueil
					</div></a>
					<a href="Articles.php"><div class = "rubrique_menu"><p class = "center">Articles</p></div></a>
					<a href="Innovons.php"><div class = "rubrique_menu"><p class = "center">Innovons ensemble !</p></div></a>
					<a href="CV_theque.php"><div class = "rubrique_menu"><p class = "center">CV thèque</p></div></a>
					<a href="Qui.php"><div class = "rubrique_menu"><p class = "center">Qui sommes-nous ?</p></div></a>
				</div>
				
				<!-- Espacement menu -->
				<div class="espace_menu"></div>
				<!-- Menu du site en étant connecté -->
				<div class="titre_espace_membre">
					Espace membres
				</div>

				<!-- Espacement menu -->
				<div class="espace_menu"></div>

				<div class="menu_connection">
					<form>
						<div class="input_connexion_id">
							<div class="logo_connexion">
                <%= image_tag 'logo_identifiant.png' %>
							</div>
							<input type="text" class="text_input" placeholder="Identifiant">
						</div>
						<div class="input_connexion_mdp">
							<div class="logo_connexion">
                <%= image_tag 'logo_mdp.png' %>
							</div>
							<input type="text" class="text_input" placeholder="Mot de passe">
						</div>
						<div class="input_rester"><input type="checkbox"><label>Rester connecté(e)</label></div>
						<div class="bouton_go"><a class="bouton" href="#"><p class="text_go">GO !</p></a></div>
					</form>
				</div>

				<div class="espace">

				</div>


				<div class="jaune">

				</div>
			</div>

		</div>
		<div class="Page">
      <%= yield %>
      <!--
			Accueil<span class="slash_color_blue"> /</span><p></p>
			<div class="block_accueil1">
			</div>
			<div class="block_accueilbis">
				<div class="block_accueil2"></div>
				<div class="block_accueil3"></div>
			</div>
      -->
		</div>
	</div>
</body>
</html>



