<!DOCTYPE HTML>
<html>
<head>
  <title>Provocare</title>
  <meta charset="UTF-8">
  <link rel="icon" type="image/png" href="/img/favicon-192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="/img/favicon-160.png" sizes="160x160">
  <link rel="icon" type="image/png" href="/img/favicon-96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/img/favicon-32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/img/favicon-16.png" sizes="16x16">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<header>
  <div class="structure_header">
    <div class="menu_header">
      <div class="vue_menu_header">
        <div class="menu_classique_header">
          <div class="jaune"></div>
          <p class="Nom"><span class="provocare">Provocare</span></br>
          <em>Générateur d'idées</em></p>
        </div>
      </div>
    </div>
  </div>
</header>
<body>
  <div class="structure">
    <div class="menu">
      <div class="vue_menu">
        <div class="menu_classique">
          <%= link_to(controller: 'welcome') do %>
            <div class = "rubrique_menu" <% if params[:controller] == 'welcome' && params[:action] == 'index' %> id="selected" <% end %>>
              <p class = "center">Accueil</p>
            </div>
          <% end %>
          <%= link_to(controller: 'articles') do %>
            <div class = "rubrique_menu" <% if params[:controller] == 'articles' %> id="selected" <% end %>>
              <p class = "center">Articles</p>
            </div>
          <% end %>
          <%= link_to(controller: 'welcome', action: 'innovate_together') do %>
            <div class = "rubrique_menu" <% if params[:controller] == 'welcome' && params[:action] == 'innovate_together' %> id="selected" <% end %>>
              <p class = "center">Innovons ensemble !</p>
            </div>
          <% end %>
          <%= link_to(controller: 'profiles') do %>
            <div class = "rubrique_menu" <% if params[:controller] == 'profiles' && ['show', 'index'].include?(params[:action]) %> id="selected" <% end %>>
              <p class = "center">CV thèque</p>
            </div>
          <% end %>
          <%= link_to(controller: 'welcome', action: 'who_are_we') do %>
            <div class = "rubrique_menu" <% if params[:controller] == 'welcome' && params[:action] == 'who_are_we' %> id="selected" <% end %>>
              <p class = "center">Qui sommes-nous ?</p>
            </div>
          <% end %>
        </div>
        
        <!-- Espacement menu -->
        <div class="espace_menu"></div>
        <!-- Menu du site en étant connecté -->
        <div class="titre_espace_membre">
          Espace membres
        </div>

        <!-- Espacement menu -->
        <div class="espace_menu"></div>

        <% if user_signed_in? %>
          <div class="menu_membre">
            <%= link_to(controller: 'profiles', action: 'edit', id: current_user.id) do %>
              <div class="rubrique_membre" <% if params[:controller] == 'profiles' && params[:action] == 'edit' %> id="selected_membre" <% end %>>
                <p class = "center">Mon profil</p>
              </div>
            <% end %>
            <%= link_to(controller: 'articles', action: 'new') do %>
              <div class="rubrique_membre" <% if params[:controller] == 'articles' && params[:action] == 'new' %> id="selected_membre" <% end %>>
                <p class = "center">Rédiger un article</p>
              </div>
            <% end %>
            <%= link_to(controller: 'welcome', action: 'job_theque') do %>
              <div class="rubrique_membre">
                <p class = "center">Job thèque</p>
              </div>
            <% end %>
            <%= link_to(destroy_user_session_path, method: :delete) do %>
              <div class="rubrique_membre">
                <p class = "center">Déconnexion</p>
              </div>
            <% end %>
          </div>
        <% else %>
          <div class="menu_connection">
            <form accept-charset="UTF-8" action="/users/sign_in" class="new_user" id="new_user" method="post"><div style="display:none"><input name="utf8" type="hidden" value=""><input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"></div>
              <div class="input_connexion_id">
                <div class="logo_connexion">
                  <%= image_tag 'logo_identifiant.png', class: 'logo_img' %>
                </div>
                <!--<input type="text" class="text_input" placeholder="Identifiant">-->
                <input autofocus="autofocus" id="user_email" name="user[email]" class="text_input" placeholder="E-mail" type="email" value="">
              </div>
              <div class="input_connexion_mdp">
                <div class="logo_connexion">
                  <%= image_tag 'logo_mdp.png', class: 'logo_img' %>
                </div>
    <input autocomplete="off" id="user_password" name="user[password]" type="password" class="text_input" placeholder="Mot de passe">
              </div>

              <div class="field text_input input_rester">
                <input name="user[remember_me]" type="hidden" value="0"><input id="user_remember_me" name="user[remember_me]" type="checkbox" value="1">
                <label for="user_remember_me">Rester connecté(e)</label>
              </div>

              <div class="actions">
                <button name="commit" type="submit" class="bouton_go test_go" style="border: none; color: white">GO !</button>
              </div>
            </form>
          </div>
        <% end %>

        <div class="espace"></div>

        <% if user_signed_in? %><div class="salutation">Hello <%= current_user.firstname %> !</div><% end %>

        <div class="jaune"></div>
      </div>
    </div>

    <div>
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
    </div>

    <div class="Page">
      <%= yield %>
    </div>
  </div>
</body>
</html>



